extends ../../layouts/index.jade

block head-title
    | - ТРЕБУЮТСЯ АВТОРЫ

block styles
    link(href="style.css", rel="stylesheet")
    link(href='http://fonts.googleapis.com/css?family=Marck+Script&subset=latin,cyrillic' rel='stylesheet' type='text/css')

block scripts
    script(src='main.js')

block content
    .container.page-authors-needed
      .wrappContentSidbar
        .content
          h1 ТРЕБУЮТСЯ АВТОРЫ
          table.defaultTable
            tr
              td Lorem ipsum Lorem ipsum
              td от 000 до 0000 р
            tr
              td Lorem ipsum
              td от 000 до 0000 р
            tr
              td Lorem ipsum
              td от 000 до 0000 р
            tr
              td Lorem ipsum
              td от 000 до 0000 р
            tr
              td Lorem ipsum
              td от 000 до 0000 р
            tr
              td Lorem ipsum Lorem ipsum
              td от 000 до 0000 р
            tr
              td Lorem ipsum
              td от 000 до 0000 р
            tr
              td Lorem ipsum Lorem ipsum
              td от 000 до 0000 р
            tr
              td Lorem ipsum
              td от 000 до 0000 р
            tr
              td Lorem ipsum
              td от 000 до 0000 р
            tr
              td Lorem ipsum
              td от 000 до 0000 р
            tr
              td Lorem ipsum
              td от 000 до 0000 р
            tr
              td Lorem ipsum Lorem ipsum
              td от 000 до 0000 р
            tr
              td Lorem ipsum
              td от 000 до 0000 р
            tr
              td Lorem ipsum Lorem ipsum
              td от 000 до 0000 р
            tr
              td Lorem ipsum
              td от 000 до 0000 р
            tr
              td Lorem ipsum
              td от 000 до 0000 р
            tr
              td Lorem ipsum Lorem ipsum
              td от 000 до 0000 р
            tr
              td Lorem ipsum
              td от 000 до 0000 р
        .rightSibar
          .infoContact
            .infoContact-item
              i.icon.icon-earth
            .infoContact-item
              .phone
                i.icon.icon-mobile-black
                .text
                  span БЕСПЛАТНЫЙ ЗВОНОК
                  span 8 800 000 00 00
            .infoContact-item
              .email
                i.icon.icon-email
                .text
                  span КОНТАКТНЫЙ EMAIL
                  span hrxxx@yyy.com

