extends ../../layouts/index.jade

block head-title
    | - О КОМПАНИИ

block styles
    link(href="../../lib/owl.carousel/dist/assets/owl.carousel.min.css", rel="stylesheet")
    link(href="style.css", rel="stylesheet")

block scripts
    script(src='../../lib/owl.carousel/dist/owl.carousel.min.js')
    script(src='main.js')

block content
    .container.page-priceStock
      .wrappContentSidbar
        h1 ЦЕНЫ И АКЦИИ
        .orderUs
          .orderUsContent
            .orderUsContent-item
              .wrappImg
                i.icon.icon-one
              .desc
                h4 ДИПЛОМНАЯ РАБОТА
                .price ОТ 6 900 ₷/ ЧАС
                .btnOrangeHidden.btn ЗАКАЗАТЬ РАБОТУ

            .orderUsContent-item
              .wrappImg
                i.icon.icon-seven
              .desc
                h4 ДОКЛАДЫ
                .price ОТ 000 ₷/ ЧАС
                .btnOrangeHidden.btn ЗАКАЗАТЬ РАБОТУ

            .orderUsContent-item
              .wrappImg
                i.icon.icon-esse
              .desc
                h4 ЭССЕ
                .price ОТ 000 ₷/ ЧАС
                .btnOrangeHidden.btn ЗАКАЗАТЬ РАБОТУ

            .orderUsContent-item
              .wrappImg
                i.icon.icon-two
              .desc
                h4 КУРСОВАЯ РАБОТА
                .price ОТ 900 ₷/ ЧАС
                .btnOrangeHidden.btn ЗАКАЗАТЬ РАБОТУ

            .orderUsContent-item
              .wrappImg
                i.icon.icon-magister
              .desc
                h4 МАГИСТРСКАЯ РАБОТА
                .price ОТ 000 ₷/ ЧАС
                .btnOrangeHidden.btn ЗАКАЗАТЬ РАБОТУ

            .orderUsContent-item
              .wrappImg
                i.icon.icon-eight
              .desc
                h4 БИЗНЕС-ПЛАН
                .price ОТ 000 ₷/ ЧАС
                .btnOrangeHidden.btn ЗАКАЗАТЬ РАБОТУ

            .orderUsContent-item
              .wrappImg
                i.icon.icon-five
              .desc
                h4 КОНТРОЛЬНАЯ РАБОТА
                .price ОТ 150 ₷/ ЧАС
                .btnOrangeHidden.btn ЗАКАЗАТЬ РАБОТУ

            .orderUsContent-item
              .wrappImg
                i.icon.icon-report
              .desc
                h4 ОТЧЕТ ПО ПРАКТИКЕ
                .price ОТ 1200 ₷/ ЧАС
                .btnOrangeHidden.btn ЗАКАЗАТЬ РАБОТУ

            .orderUsContent-item
              .wrappImg
                i.icon.icon-three-h
              .desc
                h4 РЕФЕРАТ
                .price ОТ 490 ₷/ ЧАС
                .btnOrangeHidden.btn ЗАКАЗАТЬ РАБОТУ

            .orderUsContent-item
              .wrappImg
                i.icon.icon-four
              .desc
                h4 ОТВЕТЫ НА БИЛЕТЫ
                .price ОТ 60 ₷/ ЧАС
                .btnOrangeHidden.btn ЗАКАЗАТЬ РАБОТУ
          a(href="").blackBtn.btn и любые другие виды работ
      .wrappOrderBlock
        +OrderBlock
      +Paymonts
        //- .orderBlocks
          .orderItem
            i.icon.icon-cap-blue
            h4 СТУДЕНТАМ
            p Оригинальные работы высокого качества, выполненные точно в срок
            a.btn.btnBlue(href="") ГАРАНТИИ
          .orderItem
            i.icon.icon-le-men
            h4 АВТОРАМ
            p Достойная оплата за ваш труд, своевременные выплаты, гибкий график работы
            a.btn.btnOrange(href="") ВАКАНСИИ
          .orderItem
            i.icon.icon-le-two-men
            h4 ПАРТНЕРАМ
            p Привлекательные условия сотрудничества для студентов и организаций
            a.btn.btnGreen(href="#") УСЛОВИЯ

