extends ../../layouts/index.jade

block head-title
    | - product

block styles
    link(href="style.css", rel="stylesheet")

block scripts
    script(src='main.js')

block content
  .container.order-work
    .wrappContent
      h1 ЗАКАЗАТЬ ДИПЛОМНУЮ РАБОТУ
      .description
        p Текст о том каз заказать дипломную работу Текст о том каз заказать дипломную работу Текст о том каз заказать дипломную работу Текст о том каз заказать дипломную работу Текст о том каз заказать дипломную работу Текст о том каз заказать дипломную работу Текст о том каз заказать дипломную работу Текст о том каз заказать дипломную работу Текст о том каз заказать дипломную работу Текст о том каз заказать дипломную работу Текст о том каз заказать дипломную работу Текст о том каз заказать дипломную работу
      form.form.formOrderWork
        +leterOrder
        .title ОФОРМИТЬ ЗАКАЗ
        .formContent
          .leftFormContent
            .groupInput
              label Тип работы
                span.required *
              .select
                span.default-value ВЫБЕРИТЕ ТИП РАБОТЫ
                ul
                  li Дипломная работа
                  li Lorem Ipsum Ipsum
                  li Lorem Ipsum Ipsum
                  li Lorem Ipsum
                  li Lorem Ipsum Ipsum Ipsum
                  li Lorem Ipsum
                  li Lorem Ipsum
                  li Lorem Ipsum Ipsum
                  li Lorem
                  li Lorem Ipsum
                  li Ipsum
            .groupInput
              label
                | Предмет
                span.required *
              input(type="text" placeholder="предмет")
            .groupInput
              label
                | Город
                span.required *
              input(type="text" placeholder="Введите город")
            .groupInput
              label
                | Имя
                span.required *
              input(type="text" placeholder="Ваше имя")
          .rightFormContent

            .groupInput
              .groupInputSubitem
                label
                  | Количество страниц
                  span.required *
                input.number(type="text" placeholder="60-80")
              .groupInputSubitem
                label
                  | Размер шрифта
                  span.required *
                .select.number
                  span.default-value 14px
                  ul
                    li 16px
                    li 18px
                    li 20px
            .groupInput
              label
                | Тема
                span.required *
              input(type="text" placeholder="Ваше имя")
            .groupInput
              label
                | email
                span.required *
              input(type="text" placeholder="email")
            .groupInput
              label
                | Телефон
                span.required *
              input.phoneValidation(type="tel" placeholder="+7 *** *** ****")

        input(type="submit" value="создать заказ").btn.sendBtn
      .fourPlus
        +fourPlus
      .desc
        p Текст о том каз заказать дипломную работу Текст о том каз заказать дипломную работу Текст о том каз заказать дипломную работу Текст о том каз заказать дипломную работу Текст о том каз заказать дипломную работу Текст о том каз заказать дипломную работу Текст о том каз заказать дипломную работу Текст о том каз заказать дипломную работу Текст о том каз заказать дипломную работу Текст о том каз заказать дипломную работу Текст о том каз заказать дипломную работу Текст о том каз заказать дипломную работу Текст о том каз заказать дипломную работу Текст о том каз заказать дипломную работу Текст о том каз заказать дипломную работу Текст о том каз заказать дипломную работу Текст о том каз заказать дипломную работу Текст о том каз заказать дипломную ра
      .processWork
        h2 КАК МЫ РАБОТАЕМ
        +fourCircle
        h2 СТОИМОСТЬ ЗАКАЗА ДИПЛОМНОЙ РАБОТЫ
        p Текст о том каз заказать дипломную работу Текст о том каз заказать дипломную работу Текст о том каз заказать дипломную работу Текст о том каз заказать дипломную работу Текст о том каз заказать дипломную работу Текст о том каз заказать дипломную работу Текст о том каз заказать дипломную работу Текст о том каз заказать дипломную работу Текст о том каз заказать дипломную работу Текст о том каз заказать дипломную работу Текст о том каз заказать дипломную работу Текст о том каз заказать дипломную работу
        .decription
          .leftDesc
            ul
              li От чего зависит цена на дипломную работу и срок выполнения?
              li ― Дисциплина;
              li ― Тип работы;
              li ― Сложность и новизна тематики;
              li ― Объем информации по теме в научной литературе;
              li ― Наличие информации об объекте исследований у вас;
              li ― Пожелания по срокам; Дополнительные требования.

          .rightDesc
            .rightDesc-item
              i.icon.icon-le-smart-price
              .text
                span СТОИМОСТЬ НАПИСАНИЯ РАБОТЫ ОТ
                span.price 6 000 ₷

            .rightDesc-item
              i.icon.icon-le-short-time
              .text
                span СРОК ВЫПОЛНЕНИЯ
                span.price 21 ДЕНЬ
      .finalWork
        .finalWorkHead
          .step
            span ЗАКЛЮЧАЕМ ДОГОВОР
            span.arrowNext →
          .step
            span ВНОСИТЕ 50% ПРЕДОПЛАТУ
            span.arrowNext →
          .step
            span ПОГАШАЕТЕ ОСТАТОК ПО ГОТОВНОСТИ РАБОТЫ

        .description
          div
            h4 КТО АВТОР МОЕЙ РАБОТЫ?
            p Текст о том, кто авторТекст о том, кто авторТекст о том, кто авторТекст о том, кто авторТекст о том, кто авторТекст о том, кто авторТекст о том, кто авторТекст о том, кто авторТекст о том, кто авторТекст о том, кто авторТекст о том, кто авторТекст о том, кто авторТекст о том, кто авторТекст о том, кто автор
          div
            h4 КАКУЮ ДИПЛОМНУЮ РАБОТУ МОЖНО ПОЛУЧИТЬ ПОСЛЕ ПОКУПКИ?
            p Текст о том, какая работа будетТекст о том, какая работа будетТекст о том, какая работа будетТекст о том, какая работа будетТекст о том, какая работа будет

          div
            h4 НАСКОЛЬКО МОЖНО БЫТЬ УВЕРЕННЫМ В РЕЗУЛЬТАТЕ?
            p Текст о том какие гарантииТекст о том какие гарантииТекст о том какие гарантииТекст о том какие гарантииТекст о том какие гарантииТекст о том какие гарантииТекст о том какие гарантииТекст о том какие гарантииТекст о том какие гарантии
          div
            h4 КАК ОФОРМИТЬ ЗАКАЗ?
            p Текст о том как оформить заказ Текст о том как оформить заказТекст о том как оформить заказТекст о том как оформить заказТекст о том как оформить заказТекст о том как оформить заказ
      .fivePlus
        .list
          h2 5 ПРИЧИН ЗАКАЗАТЬ НАПИСАНИЕ ДИПЛОМА У НАС
          p 1. Работы пройдут любую проверку
          p 2. Обладаем собственной библиотекой
          p 3. Пишем о
          p 4. корректировки бесплатно;
          p 5. Используем новейшую информацию
      .mapContent
        .wrappImg
          img(src="../../images/elements/world-map.png", alt="")
        .freeCall
          h4 БЕСПЛАТНЫЙ ЗВОНОК ПО РОССИИ
          .phone
            i.icon.icon-mobile-black
            span 8 (812) 987 12 07
          a.btn.blackBtn(href="") ЗАКАЗАТЬ РАБОТУ
        .infoWork
          h4 ГРАФИК РАБОТЫ ОФИСА
          p Пн-Вс:09:00-24:00
          p Мы работаем по всей России!





