@import ./app/sass/_include
.order-work
    .description
        width: 640px
        margin-top: 26px
        margin-bottom: 59px
    .formOrderWork
        padding: 21px 0 0 32px
        width: 1068px
        height: 417px
        border: solid 2px #00899f
        .formContent
            width: 100%

        .leftFormContent, .rightFormContent
            width: 425px
            display: inline-block
            vertical-align: top
        .rightFormContent
            width: 500px
            margin-left: 20px
        .groupInput
            display: inline-block
            width: 100%
            input, .select
                max-width: 320px
                float: right
            label
                display: block
                float: left
            .groupInputSubitem
                width: 50%
                display: inline-block
                &:first-child
                    padding-right: 10px
                .number
                    max-width: 65px
        .sendBtn
            margin: 0 auto
            display: block
    .desc
        margin-top: 55px
        margin-bottom: 40px
    .fourCircle, .fourPlus
        margin-left: 71px
    .fourCircle
        margin: 37px 0 59px 71px
    .processWork
        h2
            text-align: center
            margin-bottom: 39px
        .decription
            margin-top: 32px

        .leftDesc, .rightDesc
            width: 451px
            display: inline-block
            margin-right: 200px
            vertical-align: top
        .rightDesc
            margin-right: 0
            &-item
                .icon
                    margin: 0 28px 42px 0
                    display: inline-block
                .text
                    width: auto
                    font-size: 15px
                    display: inline-block
                    vertical-align: top
                    margin-top: 8px
                    span
                        display: block
                        color: #262422
                        font-size: 15px
                        font-weight: 700
                        line-height: 21px
                        &.price
                            color: #00899f
        .leftDesc
            ul
            li
                width: 429px
                font-size: 15px
                line-height: 21px
                font-weight: 300
                &:first-child
                    font-weight: 700
                    margin-bottom: 30px

    .finalWork
        .finalWorkHead
            height: 105px
            background-color: #f1f0ed
            display: inline-block
            vertical-align: middle
            width: 100%
            padding-top: 47px
            padding-left: 145px
            .step
                display: inline-block
                vertical-align: middle
                span
                    display: inline-block
                    vertical-align: middle
                    font-weight: 400
                    color: #262422
                    font-size: 15px
                .arrowNext
                    font-size: 29px
                    margin: 0 34px 0 32px

        .description
            width: 100%
            max-width: 1051px
            margin: 49px auto 0
            font-size: 0
            div
                display: inline-block
                vertical-align: top
                width: 50%
                margin-bottom: 81px
                max-width: 485px
                margin-right: 81px
                &:nth-child(even)
                    margin-right: 0
                h4
                    margin-bottom: 25px
                    font-size: 15px
                    line-height: 21px
                    font-weight: 700

    .fivePlus
        background-image: url(../../images/elements/back-order.jpg)
        background-repeat: no-repeat
        margin: 0 auto
        height: 376px
        width: 100%
        padding: 58px 168px 58px 0
        .list
            float: right
            h2
                margin-bottom: 34px
            p
                line-height: 35px
                display: block
                width: 480px
                +text-overflow
    .mapContent
        padding: 88px 0 0
        .wrappImg,.freeCall,.infoWork
            display: inline-block
            vertical-align: top
            h4
                font-size: 12px
                font-weight: 300
                margin-bottom: 15px
        .wrappImg
            margin-right: 141px
        .freeCall
            margin-right: 215px
            .phone
                span
                    font-size: 26px
                    font-weight: 700
                    line-height: 34px
                    padding-left: 38px
            .icon
                position: absolute

            .blackBtn
                width: 192px
                margin-top: 43px
                font-size: 15px
                font-weight: 700
        .infoWork
            width: 150px
            p
                font-size: 16px
                font-weight: 700
                &:last-child
                    margin-top: 40px