.header
  .topHeader
    background-image: url(../images/elements/headTop.png)
    height: 92px
    background-position: 0 0
    padding: 17px 75px
    text-align: center
    position: relative
  .logo
    float: left
  .phoneContainer
    position: absolute
    left: 0
    right: 0
    margin: auto
    text-align: center
    width: 100px
    .tel
      text-decoration: none
      display: inline-block
      color: #1e1e1c
      font-family: $defaultFontBold
      font-size: 12px
      font-weight: 700
      &:first-child
        margin-bottom: 16px
  .feedbackContainer
    float: right
    max-width: 240px
    text-align: right
    .link
      color: #1e1e1c
      display: inline-block
      text-decoration: none
      font-family: $defaultFontBold
      font-size: 12px
      font-weight: 700
      transition: all .35s
      &:hover
        text-decoration: underline

      &:first-child
        margin-bottom: 18px

  .menu
    width: 100%
    padding: 12px 72px 17px 70px
    display: table
    li
      float: left
      display: inline-block
      margin-right: 106px
      font-size: 12px
      font-weight: 300
      text-transform: uppercase
      font-family: $defaultFont
      a
        text-decoration: none
        color: $defaultColor
        transition: all .22s
        &:hover
          text-decoration: underline
          text-shadow: 0 0 .5px #1e1e1c
          // font-family: $defaultFontBold
      &:last-child
        margin-right: 0


