@import _mixin
@import _spritePng
@import _icons

$defaultFontLight: 'Conv_CRC35', "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif
$defaultFont: 'Conv_CRC55', "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif
$defaultFontBold: 'Conv_Circe-Bold', "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif
$defaultFontBoldExtra: 'Conv_Circe-ExtraBold', "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif
