/*
  SASS variables are information about icon's compiled state, stored under its original file name

  .icon-home
    width: $icon-home-width

  The large array-like variables contain all information about a single icon
  $icon-home: x y offset_x offset_y width height total_width total_height image_path

  At the bottom of this section, we provide information about the spritesheet itself
  $spritesheet: width height image $spritesheet-sprites
  */
$back-section4-name: 'back-section4'
$back-section4-x: 0px
$back-section4-y: 0px
$back-section4-offset-x: 0px
$back-section4-offset-y: 0px
$back-section4-width: 703px
$back-section4-height: 14px
$back-section4-total-width: 703px
$back-section4-total-height: 432px
$back-section4-image: '../../images/icons/sprite.png'
$back-section4: (0px, 0px, 0px, 0px, 703px, 14px, 703px, 432px, '../../images/icons/sprite.png', 'back-section4', )
$calc-name: 'calc'
$calc-x: 49px
$calc-y: 318px
$calc-offset-x: -49px
$calc-offset-y: -318px
$calc-width: 43px
$calc-height: 50px
$calc-total-width: 703px
$calc-total-height: 432px
$calc-image: '../../images/icons/sprite.png'
$calc: (49px, 318px, -49px, -318px, 43px, 50px, 703px, 432px, '../../images/icons/sprite.png', 'calc', )
$doc-name: 'doc'
$doc-x: 353px
$doc-y: 248px
$doc-offset-x: -353px
$doc-offset-y: -248px
$doc-width: 33px
$doc-height: 35px
$doc-total-width: 703px
$doc-total-height: 432px
$doc-image: '../../images/icons/sprite.png'
$doc: (353px, 248px, -353px, -248px, 33px, 35px, 703px, 432px, '../../images/icons/sprite.png', 'doc', )
$eight-name: 'eight'
$eight-x: 543px
$eight-y: 14px
$eight-offset-x: -543px
$eight-offset-y: -14px
$eight-width: 82px
$eight-height: 58px
$eight-total-width: 703px
$eight-total-height: 432px
$eight-image: '../../images/icons/sprite.png'
$eight: (543px, 14px, -543px, -14px, 82px, 58px, 703px, 432px, '../../images/icons/sprite.png', 'eight', )
$five-name: 'five'
$five-x: 0px
$five-y: 368px
$five-offset-x: 0px
$five-offset-y: -368px
$five-width: 19px
$five-height: 64px
$five-total-width: 703px
$five-total-height: 432px
$five-image: '../../images/icons/sprite.png'
$five: (0px, 368px, 0px, -368px, 19px, 64px, 703px, 432px, '../../images/icons/sprite.png', 'five', )
$four-name: 'four'
$four-x: 480px
$four-y: 101px
$four-offset-x: -480px
$four-offset-y: -101px
$four-width: 80px
$four-height: 39px
$four-total-width: 703px
$four-total-height: 432px
$four-image: '../../images/icons/sprite.png'
$four: (480px, 101px, -480px, -101px, 80px, 39px, 703px, 432px, '../../images/icons/sprite.png', 'four', )
$icon-default-name: 'icon-default'
$icon-default-x: 157px
$icon-default-y: 101px
$icon-default-offset-x: -157px
$icon-default-offset-y: -101px
$icon-default-width: 68px
$icon-default-height: 64px
$icon-default-total-width: 703px
$icon-default-total-height: 432px
$icon-default-image: '../../images/icons/sprite.png'
$icon-default: (157px, 101px, -157px, -101px, 68px, 64px, 703px, 432px, '../../images/icons/sprite.png', 'icon-default', )
$le-alarm-clock-name: 'le-alarm-clock'
$le-alarm-clock-x: 625px
$le-alarm-clock-y: 14px
$le-alarm-clock-offset-x: -625px
$le-alarm-clock-offset-y: -14px
$le-alarm-clock-width: 59px
$le-alarm-clock-height: 56px
$le-alarm-clock-total-width: 703px
$le-alarm-clock-total-height: 432px
$le-alarm-clock-image: '../../images/icons/sprite.png'
$le-alarm-clock: (625px, 14px, -625px, -14px, 59px, 56px, 703px, 432px, '../../images/icons/sprite.png', 'le-alarm-clock', )
$le-alarm-clokc-brown-name: 'le-alarm-clokc-brown'
$le-alarm-clokc-brown-x: 421px
$le-alarm-clokc-brown-y: 101px
$le-alarm-clokc-brown-offset-x: -421px
$le-alarm-clokc-brown-offset-y: -101px
$le-alarm-clokc-brown-width: 59px
$le-alarm-clokc-brown-height: 55px
$le-alarm-clokc-brown-total-width: 703px
$le-alarm-clokc-brown-total-height: 432px
$le-alarm-clokc-brown-image: '../../images/icons/sprite.png'
$le-alarm-clokc-brown: (421px, 101px, -421px, -101px, 59px, 55px, 703px, 432px, '../../images/icons/sprite.png', 'le-alarm-clokc-brown', )
$le-blackbord-name: 'le-blackbord'
$le-blackbord-x: 103px
$le-blackbord-y: 248px
$le-blackbord-offset-x: -103px
$le-blackbord-offset-y: -248px
$le-blackbord-width: 51px
$le-blackbord-height: 49px
$le-blackbord-total-width: 703px
$le-blackbord-total-height: 432px
$le-blackbord-image: '../../images/icons/sprite.png'
$le-blackbord: (103px, 248px, -103px, -248px, 51px, 49px, 703px, 432px, '../../images/icons/sprite.png', 'le-blackbord', )
$le-cap-blue-name: 'le-cap-blue'
$le-cap-blue-x: 154px
$le-cap-blue-y: 248px
$le-cap-blue-offset-x: -154px
$le-cap-blue-offset-y: -248px
$le-cap-blue-width: 48px
$le-cap-blue-height: 45px
$le-cap-blue-total-width: 703px
$le-cap-blue-total-height: 432px
$le-cap-blue-image: '../../images/icons/sprite.png'
$le-cap-blue: (154px, 248px, -154px, -248px, 48px, 45px, 703px, 432px, '../../images/icons/sprite.png', 'le-cap-blue', )
$le-check-name: 'le-check'
$le-check-x: 203px
$le-check-y: 14px
$le-check-offset-x: -203px
$le-check-offset-y: -14px
$le-check-width: 98px
$le-check-height: 71px
$le-check-total-width: 703px
$le-check-total-height: 432px
$le-check-image: '../../images/icons/sprite.png'
$le-check: (203px, 14px, -203px, -14px, 98px, 71px, 703px, 432px, '../../images/icons/sprite.png', 'le-check', )
$le-dolar-name: 'le-dolar'
$le-dolar-x: 543px
$le-dolar-y: 174px
$le-dolar-offset-x: -543px
$le-dolar-offset-y: -174px
$le-dolar-width: 66px
$le-dolar-height: 40px
$le-dolar-total-width: 703px
$le-dolar-total-height: 432px
$le-dolar-image: '../../images/icons/sprite.png'
$le-dolar: (543px, 174px, -543px, -174px, 66px, 40px, 703px, 432px, '../../images/icons/sprite.png', 'le-dolar', )
$le-earth-name: 'le-earth'
$le-earth-x: 250px
$le-earth-y: 248px
$le-earth-offset-x: -250px
$le-earth-offset-y: -248px
$le-earth-width: 43px
$le-earth-height: 43px
$le-earth-total-width: 703px
$le-earth-total-height: 432px
$le-earth-image: '../../images/icons/sprite.png'
$le-earth: (250px, 248px, -250px, -248px, 43px, 43px, 703px, 432px, '../../images/icons/sprite.png', 'le-earth', )
$le-email-name: 'le-email'
$le-email-x: 594px
$le-email-y: 101px
$le-email-offset-x: -594px
$le-email-offset-y: -101px
$le-email-width: 38px
$le-email-height: 27px
$le-email-total-width: 703px
$le-email-total-height: 432px
$le-email-image: '../../images/icons/sprite.png'
$le-email: (594px, 101px, -594px, -101px, 38px, 27px, 703px, 432px, '../../images/icons/sprite.png', 'le-email', )
$le-esse-name: 'le-esse'
$le-esse-x: 0px
$le-esse-y: 248px
$le-esse-offset-x: 0px
$le-esse-offset-y: -248px
$le-esse-width: 54px
$le-esse-height: 70px
$le-esse-total-width: 703px
$le-esse-total-height: 432px
$le-esse-image: '../../images/icons/sprite.png'
$le-esse: (0px, 248px, 0px, -248px, 54px, 70px, 703px, 432px, '../../images/icons/sprite.png', 'le-esse', )
$le-flag-name: 'le-flag'
$le-flag-x: 652px
$le-flag-y: 174px
$le-flag-offset-x: -652px
$le-flag-offset-y: -174px
$le-flag-width: 32px
$le-flag-height: 40px
$le-flag-total-width: 703px
$le-flag-total-height: 432px
$le-flag-image: '../../images/icons/sprite.png'
$le-flag: (652px, 174px, -652px, -174px, 32px, 40px, 703px, 432px, '../../images/icons/sprite.png', 'le-flag', )
$le-garant-name: 'le-garant'
$le-garant-x: 209px
$le-garant-y: 174px
$le-garant-offset-x: -209px
$le-garant-offset-y: -174px
$le-garant-width: 65px
$le-garant-height: 65px
$le-garant-total-width: 703px
$le-garant-total-height: 432px
$le-garant-image: '../../images/icons/sprite.png'
$le-garant: (209px, 174px, -209px, -174px, 65px, 65px, 703px, 432px, '../../images/icons/sprite.png', 'le-garant', )
$le-house-name: 'le-house'
$le-house-x: 487px
$le-house-y: 174px
$le-house-offset-x: -487px
$le-house-offset-y: -174px
$le-house-width: 56px
$le-house-height: 48px
$le-house-total-width: 703px
$le-house-total-height: 432px
$le-house-image: '../../images/icons/sprite.png'
$le-house: (487px, 174px, -487px, -174px, 56px, 48px, 703px, 432px, '../../images/icons/sprite.png', 'le-house', )
$le-human-name: 'le-human'
$le-human-x: 143px
$le-human-y: 174px
$le-human-offset-x: -143px
$le-human-offset-y: -174px
$le-human-width: 66px
$le-human-height: 65px
$le-human-total-width: 703px
$le-human-total-height: 432px
$le-human-image: '../../images/icons/sprite.png'
$le-human: (143px, 174px, -143px, -174px, 66px, 65px, 703px, 432px, '../../images/icons/sprite.png', 'le-human', )
$le-info-name: 'le-info'
$le-info-x: 360px
$le-info-y: 101px
$le-info-offset-x: -360px
$le-info-offset-y: -101px
$le-info-width: 61px
$le-info-height: 60px
$le-info-total-width: 703px
$le-info-total-height: 432px
$le-info-image: '../../images/icons/sprite.png'
$le-info: (360px, 101px, -360px, -101px, 61px, 60px, 703px, 432px, '../../images/icons/sprite.png', 'le-info', )
$le-leyrs-name: 'le-leyrs'
$le-leyrs-x: 0px
$le-leyrs-y: 14px
$le-leyrs-offset-x: 0px
$le-leyrs-offset-y: -14px
$le-leyrs-width: 104px
$le-leyrs-height: 87px
$le-leyrs-total-width: 703px
$le-leyrs-total-height: 432px
$le-leyrs-image: '../../images/icons/sprite.png'
$le-leyrs: (0px, 14px, 0px, -14px, 104px, 87px, 703px, 432px, '../../images/icons/sprite.png', 'le-leyrs', )
$le-like-name: 'le-like'
$le-like-x: 0px
$le-like-y: 101px
$le-like-offset-x: 0px
$le-like-offset-y: -101px
$le-like-width: 84px
$le-like-height: 73px
$le-like-total-width: 703px
$le-like-total-height: 432px
$le-like-image: '../../images/icons/sprite.png'
$le-like: (0px, 101px, 0px, -101px, 84px, 73px, 703px, 432px, '../../images/icons/sprite.png', 'le-like', )
$le-loop-name: 'le-loop'
$le-loop-x: 84px
$le-loop-y: 101px
$le-loop-offset-x: -84px
$le-loop-offset-y: -101px
$le-loop-width: 73px
$le-loop-height: 73px
$le-loop-total-width: 703px
$le-loop-total-height: 432px
$le-loop-image: '../../images/icons/sprite.png'
$le-loop: (84px, 101px, -84px, -101px, 73px, 73px, 703px, 432px, '../../images/icons/sprite.png', 'le-loop', )
$le-m-w-name: 'le-m-w'
$le-m-w-x: 104px
$le-m-w-y: 14px
$le-m-w-offset-x: -104px
$le-m-w-offset-y: -14px
$le-m-w-width: 99px
$le-m-w-height: 87px
$le-m-w-total-width: 703px
$le-m-w-total-height: 432px
$le-m-w-image: '../../images/icons/sprite.png'
$le-m-w: (104px, 14px, -104px, -14px, 99px, 87px, 703px, 432px, '../../images/icons/sprite.png', 'le-m-w', )
$le-magister-name: 'le-magister'
$le-magister-x: 0px
$le-magister-y: 174px
$le-magister-offset-x: 0px
$le-magister-offset-y: -174px
$le-magister-width: 77px
$le-magister-height: 74px
$le-magister-total-width: 703px
$le-magister-total-height: 432px
$le-magister-image: '../../images/icons/sprite.png'
$le-magister: (0px, 174px, 0px, -174px, 77px, 74px, 703px, 432px, '../../images/icons/sprite.png', 'le-magister', )
$le-man-black-name: 'le-man-black'
$le-man-black-x: 293px
$le-man-black-y: 248px
$le-man-black-offset-x: -293px
$le-man-black-offset-y: -248px
$le-man-black-width: 30px
$le-man-black-height: 42px
$le-man-black-total-width: 703px
$le-man-black-total-height: 432px
$le-man-black-image: '../../images/icons/sprite.png'
$le-man-black: (293px, 248px, -293px, -248px, 30px, 42px, 703px, 432px, '../../images/icons/sprite.png', 'le-man-black', )
$le-man-orange-name: 'le-man-orange'
$le-man-orange-x: 323px
$le-man-orange-y: 248px
$le-man-orange-offset-x: -323px
$le-man-orange-offset-y: -248px
$le-man-orange-width: 30px
$le-man-orange-height: 41px
$le-man-orange-total-width: 703px
$le-man-orange-total-height: 432px
$le-man-orange-image: '../../images/icons/sprite.png'
$le-man-orange: (323px, 248px, -323px, -248px, 30px, 41px, 703px, 432px, '../../images/icons/sprite.png', 'le-man-orange', )
$le-men-name: 'le-men'
$le-men-x: 92px
$le-men-y: 318px
$le-men-offset-x: -92px
$le-men-offset-y: -318px
$le-men-width: 27px
$le-men-height: 39px
$le-men-total-width: 703px
$le-men-total-height: 432px
$le-men-image: '../../images/icons/sprite.png'
$le-men: (92px, 318px, -92px, -318px, 27px, 39px, 703px, 432px, '../../images/icons/sprite.png', 'le-men', )
$le-next-name: 'le-next'
$le-next-x: 684px
$le-next-y: 48px
$le-next-offset-x: -684px
$le-next-offset-y: -48px
$le-next-width: 10px
$le-next-height: 17px
$le-next-total-width: 703px
$le-next-total-height: 432px
$le-next-image: '../../images/icons/sprite.png'
$le-next: (684px, 48px, -684px, -48px, 10px, 17px, 703px, 432px, '../../images/icons/sprite.png', 'le-next', )
$le-notepad-name: 'le-notepad'
$le-notepad-x: 0px
$le-notepad-y: 318px
$le-notepad-offset-x: 0px
$le-notepad-offset-y: -318px
$le-notepad-width: 49px
$le-notepad-height: 50px
$le-notepad-total-width: 703px
$le-notepad-total-height: 432px
$le-notepad-image: '../../images/icons/sprite.png'
$le-notepad: (0px, 318px, 0px, -318px, 49px, 50px, 703px, 432px, '../../images/icons/sprite.png', 'le-notepad', )
$le-prew-name: 'le-prew'
$le-prew-x: 672px
$le-prew-y: 101px
$le-prew-offset-x: -672px
$le-prew-offset-y: -101px
$le-prew-width: 10px
$le-prew-height: 17px
$le-prew-total-width: 703px
$le-prew-total-height: 432px
$le-prew-image: '../../images/icons/sprite.png'
$le-prew: (672px, 101px, -672px, -101px, 10px, 17px, 703px, 432px, '../../images/icons/sprite.png', 'le-prew', )
$le-report-name: 'le-report'
$le-report-x: 387px
$le-report-y: 174px
$le-report-offset-x: -387px
$le-report-offset-y: -174px
$le-report-width: 48px
$le-report-height: 63px
$le-report-total-width: 703px
$le-report-total-height: 432px
$le-report-image: '../../images/icons/sprite.png'
$le-report: (387px, 174px, -387px, -174px, 48px, 63px, 703px, 432px, '../../images/icons/sprite.png', 'le-report', )
$le-short-time-name: 'le-short-time'
$le-short-time-x: 77px
$le-short-time-y: 174px
$le-short-time-offset-x: -77px
$le-short-time-offset-y: -174px
$le-short-time-width: 66px
$le-short-time-height: 65px
$le-short-time-total-width: 703px
$le-short-time-total-height: 432px
$le-short-time-image: '../../images/icons/sprite.png'
$le-short-time: (77px, 174px, -77px, -174px, 66px, 65px, 703px, 432px, '../../images/icons/sprite.png', 'le-short-time', )
$le-smart-price-name: 'le-smart-price'
$le-smart-price-x: 274px
$le-smart-price-y: 174px
$le-smart-price-offset-x: -274px
$le-smart-price-offset-y: -174px
$le-smart-price-width: 65px
$le-smart-price-height: 65px
$le-smart-price-total-width: 703px
$le-smart-price-total-height: 432px
$le-smart-price-image: '../../images/icons/sprite.png'
$le-smart-price: (274px, 174px, -274px, -174px, 65px, 65px, 703px, 432px, '../../images/icons/sprite.png', 'le-smart-price', )
$le-star-name: 'le-star'
$le-star-x: 435px
$le-star-y: 174px
$le-star-offset-x: -435px
$le-star-offset-y: -174px
$le-star-width: 52px
$le-star-height: 57px
$le-star-total-width: 703px
$le-star-total-height: 432px
$le-star-image: '../../images/icons/sprite.png'
$le-star: (435px, 174px, -435px, -174px, 52px, 57px, 703px, 432px, '../../images/icons/sprite.png', 'le-star', )
$le-think-name: 'le-think'
$le-think-x: 301px
$le-think-y: 14px
$le-think-offset-x: -301px
$le-think-offset-y: -14px
$le-think-width: 75px
$le-think-height: 71px
$le-think-total-width: 703px
$le-think-total-height: 432px
$le-think-image: '../../images/icons/sprite.png'
$le-think: (301px, 14px, -301px, -14px, 75px, 71px, 703px, 432px, '../../images/icons/sprite.png', 'le-think', )
$le-three-man-name: 'le-three-man'
$le-three-man-x: 461px
$le-three-man-y: 14px
$le-three-man-offset-x: -461px
$le-three-man-offset-y: -14px
$le-three-man-width: 82px
$le-three-man-height: 58px
$le-three-man-total-width: 703px
$le-three-man-total-height: 432px
$le-three-man-image: '../../images/icons/sprite.png'
$le-three-man: (461px, 14px, -461px, -14px, 82px, 58px, 703px, 432px, '../../images/icons/sprite.png', 'le-three-man', )
$le-two-men-name: 'le-two-men'
$le-two-men-x: 609px
$le-two-men-y: 174px
$le-two-men-offset-x: -609px
$le-two-men-offset-y: -174px
$le-two-men-width: 43px
$le-two-men-height: 40px
$le-two-men-total-width: 703px
$le-two-men-total-height: 432px
$le-two-men-image: '../../images/icons/sprite.png'
$le-two-men: (609px, 174px, -609px, -174px, 43px, 40px, 703px, 432px, '../../images/icons/sprite.png', 'le-two-men', )
$le-white-cap-name: 'le-white-cap'
$le-white-cap-x: 202px
$le-white-cap-y: 248px
$le-white-cap-offset-x: -202px
$le-white-cap-offset-y: -248px
$le-white-cap-width: 48px
$le-white-cap-height: 45px
$le-white-cap-total-width: 703px
$le-white-cap-total-height: 432px
$le-white-cap-image: '../../images/icons/sprite.png'
$le-white-cap: (202px, 248px, -202px, -248px, 48px, 45px, 703px, 432px, '../../images/icons/sprite.png', 'le-white-cap', )
$mobile-black-name: 'mobile-black'
$mobile-black-x: 684px
$mobile-black-y: 14px
$mobile-black-offset-x: -684px
$mobile-black-offset-y: -14px
$mobile-black-width: 16px
$mobile-black-height: 34px
$mobile-black-total-width: 703px
$mobile-black-total-height: 432px
$mobile-black-image: '../../images/icons/sprite.png'
$mobile-black: (684px, 14px, -684px, -14px, 16px, 34px, 703px, 432px, '../../images/icons/sprite.png', 'mobile-black', )
$one-name: 'one'
$one-x: 225px
$one-y: 101px
$one-offset-x: -225px
$one-offset-y: -101px
$one-width: 68px
$one-height: 64px
$one-total-width: 703px
$one-total-height: 432px
$one-image: '../../images/icons/sprite.png'
$one: (225px, 101px, -225px, -101px, 68px, 64px, 703px, 432px, '../../images/icons/sprite.png', 'one', )
$phone-black-name: 'phone-black'
$phone-black-x: 560px
$phone-black-y: 101px
$phone-black-offset-x: -560px
$phone-black-offset-y: -101px
$phone-black-width: 34px
$phone-black-height: 34px
$phone-black-total-width: 703px
$phone-black-total-height: 432px
$phone-black-image: '../../images/icons/sprite.png'
$phone-black: (560px, 101px, -560px, -101px, 34px, 34px, 703px, 432px, '../../images/icons/sprite.png', 'phone-black', )
$phone-white-name: 'phone-white'
$phone-white-x: 632px
$phone-white-y: 101px
$phone-white-offset-x: -632px
$phone-white-offset-y: -101px
$phone-white-width: 27px
$phone-white-height: 27px
$phone-white-total-width: 703px
$phone-white-total-height: 432px
$phone-white-image: '../../images/icons/sprite.png'
$phone-white: (632px, 101px, -632px, -101px, 27px, 27px, 703px, 432px, '../../images/icons/sprite.png', 'phone-white', )
$phone-name: 'phone'
$phone-x: 659px
$phone-y: 101px
$phone-offset-x: -659px
$phone-offset-y: -101px
$phone-width: 13px
$phone-height: 27px
$phone-total-width: 703px
$phone-total-height: 432px
$phone-image: '../../images/icons/sprite.png'
$phone: (659px, 101px, -659px, -101px, 13px, 27px, 703px, 432px, '../../images/icons/sprite.png', 'phone', )
$seven-name: 'seven'
$seven-x: 54px
$seven-y: 248px
$seven-offset-x: -54px
$seven-offset-y: -248px
$seven-width: 49px
$seven-height: 66px
$seven-total-width: 703px
$seven-total-height: 432px
$seven-image: '../../images/icons/sprite.png'
$seven: (54px, 248px, -54px, -248px, 49px, 66px, 703px, 432px, '../../images/icons/sprite.png', 'seven', )
$sex-name: 'sex'
$sex-x: 339px
$sex-y: 174px
$sex-offset-x: -339px
$sex-offset-y: -174px
$sex-width: 48px
$sex-height: 64px
$sex-total-width: 703px
$sex-total-height: 432px
$sex-image: '../../images/icons/sprite.png'
$sex: (339px, 174px, -339px, -174px, 48px, 64px, 703px, 432px, '../../images/icons/sprite.png', 'sex', )
$three-h-name: 'three-h'
$three-h-x: 293px
$three-h-y: 101px
$three-h-offset-x: -293px
$three-h-offset-y: -101px
$three-h-width: 67px
$three-h-height: 64px
$three-h-total-width: 703px
$three-h-total-height: 432px
$three-h-image: '../../images/icons/sprite.png'
$three-h: (293px, 101px, -293px, -101px, 67px, 64px, 703px, 432px, '../../images/icons/sprite.png', 'three-h', )
$two-name: 'two'
$two-x: 376px
$two-y: 14px
$two-offset-x: -376px
$two-offset-y: -14px
$two-width: 85px
$two-height: 62px
$two-total-width: 703px
$two-total-height: 432px
$two-image: '../../images/icons/sprite.png'
$two: (376px, 14px, -376px, -14px, 85px, 62px, 703px, 432px, '../../images/icons/sprite.png', 'two', )
$spritesheet-width: 703px
$spritesheet-height: 432px
$spritesheet-image: '../../images/icons/sprite.png'
$spritesheet-sprites: ($back-section4, $calc, $doc, $eight, $five, $four, $icon-default, $le-alarm-clock, $le-alarm-clokc-brown, $le-blackbord, $le-cap-blue, $le-check, $le-dolar, $le-earth, $le-email, $le-esse, $le-flag, $le-garant, $le-house, $le-human, $le-info, $le-leyrs, $le-like, $le-loop, $le-m-w, $le-magister, $le-man-black, $le-man-orange, $le-men, $le-next, $le-notepad, $le-prew, $le-report, $le-short-time, $le-smart-price, $le-star, $le-think, $le-three-man, $le-two-men, $le-white-cap, $mobile-black, $one, $phone-black, $phone-white, $phone, $seven, $sex, $three-h, $two, )
$spritesheet: (703px, 432px, '../../images/icons/sprite.png', $spritesheet-sprites, )

/*
  The provided mixins are intended to be used with the array-like variables

  .icon-home
    @include sprite-width($icon-home)

  .icon-email
    @include sprite($icon-email)

  Example usage in HTML:
    `display: block` sprite:
    <div class="icon-home"></div>

  To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
    // CSS
    .icon {
      display: inline-block;
    }

    // HTML
    <i class="icon icon-home"></i>
  */
@mixin sprite-width($sprite)
  width: nth($sprite, 5)

@mixin sprite-height($sprite)
  height: nth($sprite, 6)

@mixin sprite-position($sprite)
  $sprite-offset-x: nth($sprite, 3)
  $sprite-offset-y: nth($sprite, 4)
  background-position: $sprite-offset-x  $sprite-offset-y

@mixin sprite-image($sprite)
  $sprite-image: nth($sprite, 9)
  background-image: url(#{$sprite-image})

@mixin sprite($sprite)
  @include sprite-image($sprite)
  @include sprite-position($sprite)
  @include sprite-width($sprite)
  @include sprite-height($sprite)

/*
  The `sprites` mixin generates identical output to the CSS template
    but can be overridden inside of SASS

  @include sprites($spritesheet-sprites)
  */
@mixin sprites($sprites)
  @each $sprite in $sprites
    $sprite-name: nth($sprite, 10)
    .#{$sprite-name}
      @include sprite($sprite)
