//- Mixin
mixin fourPlus
    a.fourPlus-item.sectionContent-item.active(href="#")
        i.icon.icon-le-smart-price
        h4 РАЗУМНЫЕ ЦЕНЫ
    a.fourPlus-item.sectionContent-item(href="#")
        i.icon.icon-le-garant
        h4 Гарантии качества
    a.fourPlus-item.sectionContent-item(href="#")
        i.icon.icon-le-human
        h4 Квалифицированные авторы
    a.fourPlus-item.sectionContent-item(href="#")
        i.icon.icon-le-short-time
        h4 Короткие сроки

mixin fourCircle
    .fourCircle
        .fourCircleContent
            .fourCircleContent-item
                .step
                    span 1
                h4 ОСТАВЬТЕ ЗАЯВКУ
            .fourCircleContent-item
                .step
                    span 2
                h4 ОЦЕНКА СТОИМОСТИ И СРОКОВ
            .fourCircleContent-item
                .step
                    span 3
                h4 ВЫПОЛНЕНИЕ РАБОТЫ
            .fourCircleContent-item
                .step
                    span 4
                h4 ПОЛУЧЕНИЕ ЗАКАЗА

mixin leterOrder
    .leter
        i.icon.icon-calc
        .leterWrapp
            span Р
            span А
            span С
            span С
            span Ч
            span И
            span Т
            span А
            span Е
            span="М "
            span С
            span Т
            span О
            span И
            span М
            span О
            span Т
            span="Ь "
            span Б
            span Е
            span С
            span П
            span Л
            span А
            span Т
            span Н
            span О

mixin Paymonts
    .paymentsContainer
        h2 Удобство оплаты

        .payments
          .payment
            img(src="../../images/payments/rub.jpg", title="rub")
          .payment
            img(src="../../images/payments/visa.jpg", title="visa")
          .payment
            img(src="../../images/payments/mastercard.jpg", title="mastercard")
          .payment
            img(src="../../images/payments/banks.jpg", title="banks")
          .payment
            img(src="../../images/payments/yandexmoney.jpg", title="yandexmoney")
          .payment
            img(src="../../images/payments/webmoney.jpg", title="webmoney")
          .payment
            img(src="../../images/payments/qiwi.jpg", title="qiwi")
          .payment
            img(src="../../images/payments/conect.jpg", title="Связной")
          .payment
            img(src="../../images/payments/megafon.jpg", title="Мегафон")
          .payment
            img(src="../../images/payments/mts.jpg", title="Mts")
        //- .infoPayment  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, optio.


mixin OrderBlock
    .orderBlocks
        .orderItem
            i.icon.icon-cap-blue
            h4 СТУДЕНТАМ
            p Оригинальные работы высокого качества, выполненные точно в срок
            a.btn.btnBlue(href="") ГАРАНТИИ
        .orderItem
            i.icon.icon-le-men
            h4 АВТОРАМ
            p Достойная оплата за ваш труд, своевременные выплаты, гибкий график работы
            a.btn.btnOrange(href="") ВАКАНСИИ
        .orderItem
            i.icon.icon-le-two-men
            h4 ПАРТНЕРАМ
            p Привлекательные условия сотрудничества для студентов и организаций
            a.btn.btnGreen(href="#") УСЛОВИЯ

doctype html
html(lang="ru")
  head
    //- base(href="/")


    meta(charset="utf-8")
    meta(name="viewport" id="viewport" content="width=device-width,minimum-scale=1,maximum-scale=1,initial-scale=no")
    title
      | Name Project
      block head-title


    link(href="../../css/main.css", rel="stylesheet")
    //- prodaction
    //- link(href="css/all.css", rel="stylesheet")
    block styles



  body
    .header
        .wrappContent
            .topHeader
                a.logo(href="") LEKURS
                .phoneContainer
                    .tel 8 (812) 987 12 07
                    //- .tel 8 800 000 00 00
                .feedbackContainer
                    a.link(href="#") ЗАКАЗАТЬ ОБРАТНЫЙ ЗВОНОК
                    a.link(href="#") ЗАКАЗАТЬ РАБОТУ
            ul.menu
                li
                    a(href="../../examples/about/") О КОМПАНИИ
                li
                    a(href="../../examples/guarantee/") УСЛОВИЯ И ГАРАНТИИ
                li
                    a(href="../../examples/price-stock") ЦЕНЫ И АКЦИИ
                li
                    a(href="#") ВАКАНСИИ
                li
                    a(href="../../examples/partners/") ПАРТНЕРАМ
                li
                    a(href="../../examples/contacts") КОНТАКТЫ

    block content

    .footer
        .wrappContent.footerContent
            .leftFooter
                a.logo(href="#") LEKURS

            .middleFooter
                .phone
                    i.icon.icon-mobile
                    span БЕСПЛАТНЫЙ ЗВОНОК
                    span 8 (812) 987 12 07
                ul.menuFooter
                    li  УСЛУГИ
                    li
                        a(href="#") Курсовые работы
                    li
                        a(href="#") Диплом
                    li
                        a(href="#") Контрольные работы
                    li
                        a(href="#") Рефераты
                    li
                        a(href="#") Эссе
                    li
                        a(href="#") Рецензии
                    li
                        a(href="#") Другие виды работ
                    li
                        a(href="#") Готовые работы
            .rightFooter
                ul.menuFoote
                    li.title ЗАКАЗАТЬ РАБОТУ
                    li О НАС
                    li
                        a(href="#") Цены и акции
                    li
                        a(href="#") Условия работы
                    li
                        a(href="#") О компании
                    li
                        a(href="#") Вакансии
                    li
                        a(href="#") Контакты
                    li СОТРУДНИЧЕСТВО
                    li
                        a(href="#") Партнерам
                    li
                        a(href="#") Стать автором
                    li
                        a(href="#") Вебмастерам
        .wrappContent
            .copyright
                .wrappCpr
                    p @All rights reserved
                    p 2016
                    p Like us



    script(src='../../lib/jquery/dist/jquery.min.js')
    script(src='../../lib/jquery.maskedinput/dist/jquery.maskedinput.min.js')


    script(src='../../js/main.js')
    //- prodaction
    //- script(src='js/all.js')
    block scripts