extends ../../layouts/index.jade

block head-title
    | - УСЛОВИЯ ГАРАНТИИ

block styles
    link(href="style.css", rel="stylesheet")

block scripts
    script(src='main.js')

block content
  .container.page-guarantee
    .wrappContentSidbar
      .content
        h1 УСЛОВИЯ ГАРАНТИИ
        p Предлагаем студентам оперативное и качественное написание работ по любым учебным дисциплинам с точным выполнением требований. Отлаженная схема сотрудничества гарантирует отличный результат, вас ждут выгодные условия.
        h2 ОФОРМЛЕНИЕ ЗАЯВКИ НА РАБОТУ
        p Заявки оформляются в офисе компании или на сайте. В заявку необходимо внести подробные сведения о работе. Укажите предмет, тему, срок и требования преподавателей к содержанию и оформлению. Есть возможность приложить дополнительные материалы, если это требуется для выполнения. Менеджер согласует вопросы, после чего необходимо подписать договор о сотрудничестве и внести предоплату. Исполнители незамедлительно приступают к выполнению поставленной задачи. Готовый текст заказчик получает в указанные сроки после оплаты обозначенной в договоре суммы.
        h2 ОПЛАТА РАБОТ
        p Любое задание оплачивается в два этапа. Предоплата в размере 50% от заявленной суммы вносится при подписании договора. Когда исполнитель подготовит работу, менеджер связывается с заказчиком по телефону и направляет уведомление на электронную почту. Клиент оплачивает остаток оговоренной суммы, после чего получает готовый труд. По желанию заказчика он предоставляется в электронном или печатном виде. Распечатанный текст возможно забрать в офисе или получить курьерской доставкой. Принимаем различные варианты оплаты. Возможно расплатиться наличными при подписании договора и получении текста в офисе или воспользоваться банковской картой.
        h2 КОРРЕКТИРОВКИ
        p На протяжении двух дней после оформления заказа в него допустимо вносить изменения. Если они не меняют объем и сложность оказываемых услуг, корректировки вносятся бесплатно. Мы выполняем задания в точном соответствии с пожеланиями клиентов, оригинальный текст соответствует теме и требованиям преподавателей. Если изменения влияют на размер и сложность, стоимость задания и сроки обсуждаются с менеджером и исполнителем в индивидуальном порядке. Если после сдачи задания потребовались доработки, они выполняются бесплатно. Мы сразу выполняем обозначенные требования, чтобы заказчики сдавали письменные работы с первого раза.
        h2 СРОКИ НАПИСАНИЯ
        p Для каждого вида студенческих исследований предусмотрены стандартные сроки. Дипломная работа подготавливается за 21 день, для других видов исследований сроки варьируются от 2 до 10 дней. Менеджеры заранее обозначают время и рассчитывают стоимость задания. Данную информацию вы получите при оформлении заказа.
        h2 ГАРАНТИИ
        p Компания официально зарегистрирована, вас ждут предельно прозрачные условия сотрудничества. Заказы выполняются после подписания договора, в нем отражаются объем работы, стоимость, отведенное время и другие условия. После оплаты предоставляется чек, так как мы ведем строгую отчетность. Нам важно, чтобы заказчики сразу получали нужный результат без сомнений в качестве и оригинальности полученного текста. Воспользуйтесь предложением и оформите заказ!
      .rightSibar
        form.form.formOneClick
          .leter
            i.icon.icon-doc
            .leterWrapp
              span М
              span Ы
              span С
              span В
              span Я
              span Ж
              span Е
              span М
              span С
              span Я
              span С
              span В
              span А
              span И
              span С
              span А
              span М
              span И!
          .title ЗАЯВКА В ОДИН КЛИК
          input.phoneValidation(type="tel" placeholder="+7 *** *** ****")
          .select
            span.default-value ВЫБЕРИТЕ ТИП РАБОТЫ
            ul
              li Lorem Ipsum
              li Lorem Ipsum Ipsum
              li Lorem Ipsum Ipsum
              li Lorem Ipsum
              li Lorem Ipsum Ipsum Ipsum
              li Lorem Ipsum
              li Lorem Ipsum
              li Lorem Ipsum Ipsum
              li Lorem
              li Lorem Ipsum
              li Ipsum
            input(type="submit" value="ОФОРМИТЬ ЗАЯВКУ").greenSubmit

        .infoContact
          .infoContact-item
            i.icon.icon-earth
          .infoContact-item
            .phone
              i.icon.icon-mobile-black
              .text
                span БЕСПЛАТНЫЙ ЗВОНОК
                span 8 (812) 987 12 07
          .infoContact-item
            .workTime
              i.icon.icon-flag
              .text
                span Пн-Вс:09:00-24:00
                span Пн-Вс:09:00-24:00

    .wrappContent
      +OrderBlock
