extends ../../layouts/index.jade

block head-title
    | - УСЛОВИЯ ГАРАНТИИ

block styles
    link(href="style.css", rel="stylesheet")

block scripts
    script(src='main.js')

block content
  .container.page-guarantee
    .wrappContentSidbar
      .content
        h1 УСЛОВИЯ ГАРАНТИИ
        p текст о том что у нас есть условия и гарантии текст о том что у нас есть условия и гарантиитекст о том что у нас есть условия и гарантиитекст о том что у нас есть условия и гарантиитекст о том что у нас есть условия и гарантиитекст о том что у нас есть условия и гарантиитекст о том что у нас есть условия и гарантии
        h2 ОФОРМЛЕНИЕ ЗАКАЗА
        p текст как оформит заказ текст как оформит заказ текст как оформит заказ текст как оформит заказ текст как оформить заказа текст как оформит заказ текст как оформит заказ текст как оформит заказ текст как оформит заказ текст как оформить заказа текст как оформит заказ текст как оформит заказ текст как оформит заказ текст как оформит заказ текст как оформить заказа
        p текст как оформит заказ текст как оформит заказ текст как оформит заказ текст как оформит заказ текст как оформить заказа
        h2 ОПЛАТА ЗАКАЗА
        p текст как оплатить заказа текст как оплатить заказ текст как оплатить заказа текст как оплатить заказ текст как оплатить заказа текст как оплатить заказтекст как оплатить заказа текст как оплатить заказтекст как оплатить заказа текст как оплатить заказтекст как оплатить заказа текст как оплатить заказтекст как оплатить заказа текст как оплатить заказтекст как оплатить заказа текст как оплатить заказтекст как оплатить заказа текст как оплатить заказтекст как оплатить заказа текст как оплатить заказ
        h2 ОФОРМЛЕНИЕ КОРРЕКТИРОВОК К ЗАКАЗУ
        p текст как оформить корректировки текст как оформить корректировки текст как оформить корректировки текст как оформить корректировки текст как оформить корректировки текст как оформить корректировки текст как оформить корректировки текст как оформить корректировки текст как оформить корректировки текст как оформить корректировки текст как оформить корректировки текст как оформить корректировки текст как оформить корректировки текст как оформить корректировки текст как оформить корректировки
        h2 СРОКИ ВЫПОЛНЕНИЯ ЗАКАЗА
        p текст о сроках выполнения заказа текст о сроках выполнения заказа текст о сроках выполнения заказа текст о сроках выполнения заказа текст о сроках выполнения заказа текст о сроках выполнения заказа текст о сроках выполнения заказа текст о сроках выполнения заказа текст о сроках выполнения заказа текст о сроках выполнения заказа текст о сроках выполнения заказа текст о сроках выполнения заказа текст о сроках выполнения заказа текст о сроках выполнения заказа текст о сроках выполнения заказа
        h2 ГАРАНТИИ СОТРУДНИЧЕСТВА
        p текст о гарантиях текст о гарантиях текст о гарантиях текст о гарантиях текст о гарантиях текст о гарантиях текст о гарантиях текст о гарантиях текст о гарантиях текст о гарантиях текст о гарантиях текст о гарантиях текст о гарантиях текст о гарантиях
      .rightSibar
        form.form.formOneClick
          .leter
            i.icon.icon-doc
            .leterWrapp
              span М
              span Ы
              span С
              span В
              span Я
              span Ж
              span Е
              span М
              span С
              span Я
              span С
              span В
              span А
              span И
              span С
              span А
              span М
              span И!
          .title ЗАЯВКА В ОДИН КЛИК
          input.phoneValidation(type="tel" placeholder="+7 *** *** ****")
          .select
            span.default-value ВЫБЕРИТЕ ТИП РАБОТЫ
            ul
              li Lorem Ipsum
              li Lorem Ipsum Ipsum
              li Lorem Ipsum Ipsum
              li Lorem Ipsum
              li Lorem Ipsum Ipsum Ipsum
              li Lorem Ipsum
              li Lorem Ipsum
              li Lorem Ipsum Ipsum
              li Lorem
              li Lorem Ipsum
              li Ipsum
            input(type="submit" value="ОФОРМИТЬ ЗАЯВКУ").greenSubmit

        .infoContact
          .infoContact-item
            i.icon.icon-earth
          .infoContact-item
            .phone
              i.icon.icon-mobile-black
              .text
                span БЕСПЛАТНЫЙ ЗВОНОК
                span 8 (812) 987 12 07
          .infoContact-item
            .workTime
              i.icon.icon-flag
              .text
                span Пн-Вс:09:00-24:00
                span Пн-Вс:09:00-24:00

    .wrappContent
      +OrderBlock
