@import ./app/sass/_include
.page-guarantee
  .wrappContent
    .content,
    .rightSibar
      display: inline-block
      vertical-align: top
      padding-top: 30px
    .content
      width: 70%
      width: 651px

      margin-right: 94px
      p
        margin-top: 26px
      h2
        font-size: 15px
        margin-top: 36px

    .rightSibar
      width: 30%

      // .infoContact
      //   width: 318px
      //   border: solid 1px #bcb8b2
      //   border-radius: 2px
      //   margin-top: 40px
      //   &-item
      //     height: 79px
      //     border-bottom: solid 1px #bcb8b2
      //     width: 100%
      //     padding: 18px 23px 0
      //     &:last-child
      //       border: none
      //   .phone,.workTime
      //     position: relative
      //     .text, .icon
      //       display: inline-block
      //       vertical-align: middle

      //     span
      //       display: block
      //       padding-left: 35px
      //       font-size: 8px
      //       font-weight: 700
      //       font-size: 12px
      //       &:last-child
      //         font-size: 21px
      //         font-weight: 700
      //         margin-top: 7px
      //   .workTime
      //     span
      //       font-size: 15px
      //       font-weight: 700
      //       padding-left: 17px
      //       &:last-child
      //         margin-top: 11px
      //         font-size: 12px



      // .form
      //   width: 318px
      //   height: 283px
      //   padding: 75px 27px 0

        // .leter
        //   position: absolute
        //   top: 68px
        //   left: 130px
        // .leterWrapp
        //   transform: rotate(-145deg)
        //   span
        //     position: absolute;
        //     // width: 20px;
        //     height: 102px
        //     left: 0;
        //     top: 0;
        //     // transform-origin: bottom center;
        //     font-size: 9px
        //   @for $i from 1 through 100
        //     span:nth-child(#{$i})
        //       transform: rotate(($i*10)+deg)

